<%- include("templates/header") %>
    <h1>Hello <%= name%>!</h1>
    <h2>Your chats</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Group ID</th>
                <th>Group Name</th>
                <th>Last message Date</th>
                <th># unread</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i=0; i < results.length; i++) { %>
                <tr>
                    <td>
                        <%= results[i].room_id %>
                    </td>
                    <td>
                        <a href="chatRoom/<%=results[i].room_id%>">
                            <%= results[i].name %>
                        </a>
                    </td>
                    <td>
                        <%= results[i].last_sent_message_datetime %>
                    </td>
                    <td>
                        <%= results[i].unread_message_count %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <p># of groups : <%= results.length %>
    </p>
    <form action='/createGroup' method='post'>
        <button>New Group</button>
    </form>
    <form action='/logout' method='post'>
        <button>Logout</button>
    </form>
    <%- include("templates/footer") %>