<%- include("templates/header") %>
    <div id="chatroom">
        <div id="chatbox">
            <h2>Chat room</h2>
            <div id="messageheader">
                <p id="current-users">Current users in the group:
                    <% for (var i=0; i < members.length; i++) { %>
                        <span>
                            <%= members[i].username %>
                        </span>
                        <% } %>
                </p>
                <a href="/inviteMember/<%=room_id%>"><button>Invite</button></a>
                <!-- <form action='/invite' method='post'>
                    <button>Invite</button>
                </form> -->
            </div>
            <div id="messagebox">
                <% for (var i=0; i < messages.length; i++) { %>
                    <% if (messages[i].user_id==user_id) { %>
                        <div class="my_message_wrapper">
                            <div class="my_message_column">
                                <div class="message_info">
                                    <%= messages[i].username %>
                                        (<%= messages[i].timeAgo %>)
                                </div>
                                <p class="message your-message">
                                    <%= messages[i].text %>
                                </p>
                                <div class="reaction_arranger">
                                    <div class="reaction_container">
                                        <% if (messages[i].emojis.length> 0) { %>
                                            <% messages[i].emojis.forEach(emoji=> { %>
                                                <img src="/<%= emoji.image %>" alt="<%= emoji.name %>"
                                                    class="existingReactions">
                                                <p>
                                                    <%= emoji.emoji_count %>
                                                </p>
                                                <% }); %>
                                                    <% } %>
                                                        <button class="emoji-toggle-btn"
                                                            onclick="openReactions('<%= messages[i].message_id %>')">+</button>
                                                        <div class="reactionList" style="display: none;"
                                                            id="reactionList<%= messages[i].message_id %>">
                                                            <form action="/addEmoji" method="POST">
                                                                <input type="hidden" name="room_id"
                                                                    value="<%=room_id%>">
                                                                <input type="hidden" name="message_id"
                                                                    value="<%= messages[i].message_id %>">
                                                                <button type="submit" name="emoji_id" value="2"
                                                                    class="emojiButton"><img src="/100.png"
                                                                        alt="100"></button>
                                                                <button type="submit" name="emoji_id" value="3"
                                                                    class="emojiButton"><img src="/happy.png"
                                                                        alt="happy"></button>
                                                                <button type=" submit" name="emoji_id" value="1"
                                                                    class="emojiButton"><img src="/thumbsup.png"
                                                                        alt="thumbsup"></button>
                                                            </form>
                                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <% } else { %>
                            <div class=" other_message_wrapper">
                                <div class="other_message_column">
                                    <div class="message_info">
                                        <%=messages[i].username%>
                                            (<%= messages[i].timeAgo %>)
                                    </div>
                                    <p class="message others-message">
                                        <%= messages[i].text %>
                                    </p>
                                    <div class="reaction_arranger">
                                        <div class="reaction_container">
                                            <% if (messages[i].emojis.length> 0) { %>
                                                <% messages[i].emojis.forEach(emoji=> { %>
                                                    <img src="/<%= emoji.image %>" alt="<%= emoji.name %>"
                                                        class="existingReactions">
                                                    <p>
                                                        <%= emoji.emoji_count %>
                                                    </p>
                                                    <% }); %>
                                                        <% } %>
                                                            <button class="emoji-toggle-btn"
                                                                onclick="openReactions('<%= messages[i].message_id %>')">+</button>
                                                            <div class="reactionList" style="display: none;"
                                                                id="reactionList<%= messages[i].message_id %>">
                                                                <form action="/addEmoji" method="POST">
                                                                    <input type="hidden" name="room_id"
                                                                        value="<%=room_id%>">
                                                                    <input type="hidden" name="message_id"
                                                                        value="<%= messages[i].message_id %>">
                                                                    <button type="submit" name="emoji_id" value="2"
                                                                        class="emojiButton"><img src="/100.png"
                                                                            alt="100"></button>
                                                                    <button type="submit" name="emoji_id" value="3"
                                                                        class="emojiButton"><img src="/happy.png"
                                                                            alt="happy"></button>
                                                                    <button type=" submit" name="emoji_id" value="1"
                                                                        class="emojiButton"><img src="/thumbsup.png"
                                                                            alt="thumbsup"></button>
                                                                </form>
                                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <% } %>
                                <% if (last_read_message_id==messages[i].message_id && i !==messages.length - 1) { %>
                                    <div class="unreadLine">Unread</div>
                                    <% } %>
                                        <% } %>
            </div>

            <form action='/sendText' method='post'>
                <input type="hidden" name="room_id" value="<%=room_id%>">
                <input name='text' type='text' placeholder='Enter text...'>
                <button>Send Message</button>
            </form>
        </div>
    </div>
    <form action='/home' method='post'>
        <input type="hidden" name="room_id" value="<%=room_id%>">
        <button>Go to Home</button>
    </form>
    <form action='/logout' method='post'>
        <button>Logout</button>
    </form>
    <%- include("templates/footer") %>
        <script>
            function openReactions(message_id) {
                var form = document.getElementById("reactionList" + message_id);
                form.style.display = form.style.display === "none" ? "block" : "none";
            }
        </script>