<%- include("templates/header") %>
    <div id="chatroom">
        <div id="chatbox">
            <h2>Chat room</h2>
            <div id="messageheader">
                <p id="current-users">Current users in the group:
                    <% for (var i=0; i < members.length; i++) { %>
                        <span>
                            <%= members[i].username %>
                        </span>
                        <% } %>
                </p>
                <a href="/inviteMember/<%=room_id%>"><button>Invite</button></a>
                <!-- <form action='/invite' method='post'>
                    <button>Invite</button>
                </form> -->
            </div>

            <div id="messagebox">
                <% for (var i=0; i < messages.length; i++) { %>
                    <% if (messages[i].user_id==user_id) { %>
                        <p class="message your-message">
                            <%= messages[i].text %>
                        </p>
                        <% } else { %>
                            <p class="message others-message">
                                <%= messages[i].text %>
                            </p>
                            <% } %>
                                <% } %>
            </div>

            <form action='/sendText' method='post'>
                <input name='text' type='text' placeholder='Enter text...'>
                <button>Submit</button>
            </form>
        </div>
    </div>
    <form action='/logout' method='post'>
        <button>Logout</button>
    </form>
    <%- include("templates/footer") %>